@model ForumProject.ViewModels.SearchModels.SearchResultModel

<div class="container body-content">
    <div class="sectionHeader bodyBlock">
        <div class="sectionHeading">
            <div id="results" class="mainCaption" style="margin-bottom:20px; margin-left:20px">
                Search results for: @Model.SearchQuery
            </div>


            <form asp-controller="Search" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" class="searchBar" type="text" autocomplete="off" placeholder="Search..." onfocus="clearThis(this)">
                    <button type="submit" class="btn buttonSearch">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        @if (!Model.IsResultEmpty)
        {
            <table class="table table-hover table-bordered" id="searchIndexTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl)"></div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.AuthorName
                                                </a>(@post.AuthorRating)
                                            </span>
                                                 in 
                                            <span>
                                                <span class="postForum">
                                                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id">
                                                        @post.Forum.Name
                                                    </a>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Replies: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div></div>
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    It looks like there are no posts for @Model.SearchQuery <br/>
                </h3>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}



